<section id="{{ section.section_id }}" class="page-section {{ section.background_style }}">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-lg-8 col-xl-6 text-center">
        <h2 class="mt-0">{{ section.title }}</h2>
        <hr class="divider border border-primary border-2">
      </div>
    </div>
    <div class="row align-items-center">

      {% if section.image_position == 'left' %}
      <div class="col-lg-4 col-xl-4 ms-auto">
        <img class="rounded-circle img-fluid" src="{{ section.image }}" alt="">
      </div>
      {% endif %}

      <div class="col-lg-8 col-xl-6 ms-auto">
        <p class="text-muted mb-5">{{ section.text | markdownify }}</p>
      </div>

      {% if section.image_position == 'right' %}
      <div class="col-lg-4 col-xl-4 ms-auto">
        <img class="rounded-circle img-fluid" src="{{ section.image }}" alt="">
      </div>
      {% endif %}
      
    </div>
  </div>
</section>
